nav.navbar.navbar-expand.bg-dark
    ul.navbar-nav
        li.nav-item
            a.nav-link.text-light(href="/") Notas
        li.nav-item 
            a.nav-link.text-light(href="/crear") Crear
        li.nav-item 
            a.nav-link.text-light(href="/libro") Libros