extends templates/public
block content
    h1 Crear nueva Nota
    
    p.alert.alert-success.d-none#success
    .card.shwdow
        .card-body
            form#nuevaNota
                input.form-control.mb-4(type="text", name="titulo", placeholder="Título")
                span.text-secondary.small Para escribir un enlace debes anteponer "a::". Ejemplo: "a::http://google.com"
                textarea.form-control.mb-4(name="contenido", cols="30", rows="10", placeholder="Contenido de la nota", required="true")
                button.btn.btn-success#buttonForm(type="submit") Publicar
    footer
        script.
            $(document).ready(()=>$("input[name='titulo']").focus())
            var success = false
            $("#nuevaNota").on('submit', (e)=>{
                e.preventDefault()
                var data = {                
                    titulo: $("input[name='titulo']").val(),
                    contenido: $("textarea[name='contenido']").val(),
                }
                
                console.log(data)
                $.ajax({
                    url:"/api/notas",
                    type: "POST",
                    data: data,
                    success: (res)=>{
                        console.log(res)
                        $("#success").html(res.message)
                        $("#success").toggleClass('d-none')
                        if(res.success)
                            location.replace('/')
                    }
                })
            })
            //- $("textarea[name='contenido']").change((e)=>{
            //-     var value = e.target.value
            //-     var tag = value.split('::')[0]
            //-     var link = value.split('::')[1]
            //-     if(tag=='a')
            //-         $("textarea[name='contenido']").val('<a href="'+link+'">'+link+'</a>')
            //- })
                        