<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
        title Notas APP
    body
        .container
            h1 Notas
            a.btn.btn-success.mb-4(href="/crear") Nueva Nota
            .card.shadow.m4
                each nota in notas
                    .card-header
                        h5=nota.titulo
                    .card-body
                        p=nota.contenido
                    .card-footer
                        -var creado=new Date(nota.createdAt)
                        p=creado