extends templates/public
block content
    h1 Videos
    iframe(src="https://onedrive.live.com/embed?cid=834108A915F29FAC&resid=834108A915F29FAC%2134684&authkey=AI5dgvykhHh-jCg" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen)