<main id="primary" class="site-main post-5789 plugin-handbook type-plugin-handbook status-publish hentry type-handbook" role="main">

		
		<div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
			<span class="trail-browse">Browse:</span> 
			<span class="trail-begin"><a href="https://developer.wordpress.org" title="WordPress Developer Resources" rel="home">Home</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/">Plugin Handbook</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/intro/" title="Introduction to Plugin Development">Introduction to Plugin Development</a></span> <span class="sep">/</span> <span class="trail-end">What is a Plugin?</span>
		</div>
		
			
<h1>What is a Plugin?</h1>


<p>Plugins are packages of code that extend the core functionality of WordPress. WordPress plugins are made up of PHP code and other assets&#xA0;such as&#xA0;images, CSS, and JavaScript.</p>
<p>By making your own plugin you are <em>extending</em> WordPress, i.e. building additional functionality on top of what WordPress already offers.&#xA0;For example, you could write a plugin that displays&#xA0;links to the ten most recent posts on your site.</p>
<p>Or, using WordPress&#x2019; custom post types, you could write a plugin that creates a full-featured support ticketing system with email notifications, custom ticket statuses, and a client-facing portal. The possibilities are <i>endless</i>!</p>
<p>Most WordPress plugins are composed&#xA0;of many files, but a plugin really only <i>needs</i> one main file with a specifically formatted <a href="http://en.wikipedia.org/wiki/PHPDoc#DocBlock" target="_blank">DocBlock</a> in the header.</p>
<p><a title="Hello Dolly" href="https://wordpress.org/plugins/hello-dolly/" target="_blank">Hello Dolly</a>, one of the first plugins, is only&#xA0;<a href="https://plugins.trac.wordpress.org/browser/hello-dolly/trunk/hello.php">82 lines</a>&#xA0;long. Hello Dolly shows lyrics from <a href="http://en.wikipedia.org/wiki/Hello,_Dolly!_(song)">the famous song</a> in the WordPress admin. Some CSS is used in the PHP file to control how the lyric is styled.</p>
<p>As a WordPress.org plugin author, you have an amazing opportunity to create a plugin that will be installed, tinkered with, and loved by millions of WordPress users. All <b>you</b> need to do is turn your great idea into code. The Plugin Handbook is here to help you with that.</p>


<div class="bottom-of-entry">&#xA0;</div>

			
		<nav class="handbook-navigation" role="navigation">
			<h1 class="screen-reader-text">Handbook navigation</h1>
			<div class="nav-links">

			<a href="https://developer.wordpress.org/plugins/intro/" rel="previous"><span class="meta-nav">&#x2190;</span> Introduction to Plugin Development</a><a href="https://developer.wordpress.org/plugins/plugin-basics/" rel="next">Plugin Basics <span class="meta-nav">&#x2192;</span></a>
			</div>
			<!-- .nav-links -->
		</nav><!-- .navigation -->
	
		
		</main>