<main id="primary" class="site-main post-15107 plugin-handbook type-plugin-handbook status-publish hentry type-handbook" role="main">

		
		<div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
			<span class="trail-browse">Browse:</span> 
			<span class="trail-begin"><a href="https://developer.wordpress.org" title="WordPress Developer Resources" rel="home">Home</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/">Plugin Handbook</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/taxonomies/" title="Taxonomies">Taxonomies</a></span> <span class="sep">/</span> <span class="trail-end">Split Terms (WP 4.2+)</span>
		</div>
		
			
<h1>Split Terms (WP 4.2+)</h1>


<style> .toc-jump { text-align: right; font-size: 12px; } .page .toc-heading { margin-top: -50px; padding-top: 50px !important; }</style><div class="table-of-contents"><h2>Topics</h2><ul class="items"><li><a href="#prior-to-wp-4-2">Prior to WP 4.2</a></li>
<li><a href="#wp-4-2">WP 4.2+</a></li>
<li><a href="#what-does-it-mean-for-you">What does it mean for you?</a></li>
<li><a href="#handling-the-split">Handling the Split</a>
<ul>
<li><a href="#the-split_shared_term-hook">The <code>split_shared_term</code> hook</a>
<ul>
<li><a href="#term-id-stored-in-an-option">Term ID stored in an option</a></li>
<li><a href="#term-id-stored-in-post-meta">Term ID stored in post meta</a>
</li></ul></li>
<li><a href="#the-wp_get_split_term-function">The <code>wp_get_split_term</code> function</a></li></ul>
</li></ul></div>
<h2 class="toc-heading" id="prior-to-wp-4-2" tabindex="-1">Prior to WP 4.2 <a href="#prior-to-wp-4-2" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Prior to WP 4.2</span></a></h2>
<p>Prior to WP 4.2, Terms in different Taxonomies with the same slug shared a single Term ID.</p>
<p>For instance, a Tag and a Category with the slug &#x201C;news&#x201D; had the same Term ID.</p>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="wp-4-2" tabindex="-1">WP 4.2+ <a href="#wp-4-2" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">WP 4.2+</span></a></h2>
<p>Beginning with WP 4.2, when one of these shared Terms is updated, it will be split: the updated term will be assigned a new Term ID.</p>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="what-does-it-mean-for-you" tabindex="-1">What does it mean for you? <a href="#what-does-it-mean-for-you" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">What does it mean for you?</span></a></h2>
<p>In the vast majority of situations, this update will be seamless and uneventful. However, some plugins and themes who store Term IDs in options, post meta, user meta, or elsewhere might be affected.</p>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="handling-the-split" tabindex="-1">Handling the Split <a href="#handling-the-split" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Handling the Split</span></a></h2>
<p>WP 4.2 includes two different tools to help authors of plugins and themes with the transition.</p>
<h3 class="toc-heading" id="the-split_shared_term-hook" tabindex="-1">The <code>split_shared_term</code> hook <a href="#the-split_shared_term-hook" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">The <code>split_shared_term</code> hook</span></a></h3>
<p>When a shared term is assigned a new Term ID, a new <code>split_shared_term</code> action is fired.</p>
<p>Here are a few examples of how plugin and theme authors can leverage this hook to ensure that stored Term IDs are updated.</p>
<h4 class="toc-heading" id="term-id-stored-in-an-option" tabindex="-1">Term ID stored in an option <a href="#term-id-stored-in-an-option" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Term ID stored in an option</span></a></h4>
<p>Let&#x2019;s say your plugin stores an option called <code>featured_tags</code> that contains an array of Term IDs (<code>[4, 6, 10]</code>) that serve as the query parameter for your homepage featured posts section.</p>
<p>In this example, you&#x2019;ll hook to <code>split_shared_term</code> action, check whether the updated Term ID is in the array, and update if necessary.</p>
<section class="source-content">
<div class="source-code-container">
<pre class="brush: php; title: ; notranslate" title>/**
 * Update featured_tags option when a shared term gets split.
 *
 * @param int $term_id ID of the formerly shared term.
 * @param int $new_term_id ID of the new term created for the $term_taxonomy_id.
 * @param int $term_taxonomy_id ID for the term_taxonomy row affected by the split.
 * @param string $taxonomy Taxonomy for the split term.
 */
function wporg_featured_tags_split($term_id, $new_term_id, $term_taxonomy_id, $taxonomy)
{
    // we only care about tags, so we&apos;ll first verify that the taxonomy is post_tag.
    if ($taxonomy === &apos;post_tag&apos;) {

        // get the currently featured tags.
        $featured_tags = get_option(&apos;featured_tags&apos;);

        // if the updated term is in the array, note the array key.
        $found_term = array_search($term_id, $featured_tags);
        if ($found_term !== false) {

            // the updated term is a featured tag! replace it in the array, save the new array.
            $featured_tags[$found_term] = $new_term_id;
            update_option(&apos;featured_tags&apos;, $featured_tags);
        }
    }
}
add_action(&apos;split_shared_term&apos;, &apos;wporg_featured_tags_split&apos;, 10, 4);
</pre>
</div>
<p class="source-code-links"><span><a href="#" class="show-complete-source">Expand full source code</a><a href="#" class="less-complete-source">Collapse full source code</a></span></p>
</section>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h4 class="toc-heading" id="term-id-stored-in-post-meta" tabindex="-1">Term ID stored in post meta <a href="#term-id-stored-in-post-meta" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Term ID stored in post meta</span></a></h4>
<p>Let&#x2019;s say your plugin stores a Term ID in post meta for pages so that you can show related posts for a certain page.</p>
<p>In this case, you need to use the <a href="https://developer.wordpress.org/reference/functions/get_posts/">get_posts()</a> function to get the pages with your <code>meta_key</code> and a update the <code>meta_value</code> matching the split term ID.</p>
<section class="source-content">
<div class="source-code-container">
<pre class="brush: php; title: ; notranslate" title>/**
 * Update related posts term ID for pages
 *
 * @param int $term_id ID of the formerly shared term.
 * @param int $new_term_id ID of the new term created for the $term_taxonomy_id.
 * @param int $term_taxonomy_id ID for the term_taxonomy row affected by the split.
 * @param string $taxonomy Taxonomy for the split term.
 */
function wporg_page_related_posts_split($term_id, $new_term_id, $term_taxonomy_id, $taxonomy)
{
    // find all the pages where meta_value matches the old term ID.
    $page_ids = get_posts([
                              &apos;post_type&apos;  =&gt; &apos;page&apos;,
                              &apos;fields&apos;     =&gt; &apos;ids&apos;,
                              &apos;meta_key&apos;   =&gt; &apos;meta_key&apos;,
                              &apos;meta_value&apos; =&gt; $term_id,
                          ]);

    // if such pages exist, update the term ID for each page.
    if ($page_ids) {
        foreach ($page_ids as $id) {
            update_post_meta($id, &apos;meta_key&apos;, $new_term_id, $term_id);
        }
    }
}
add_action(&apos;split_shared_term&apos;, &apos;wporg_page_related_posts_split&apos;, 10, 4);
</pre>
</div>
<p class="source-code-links"><span><a href="#" class="show-complete-source">Expand full source code</a><a href="#" class="less-complete-source">Collapse full source code</a></span></p>
</section>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h3 class="toc-heading" id="the-wp_get_split_term-function" tabindex="-1">The <code>wp_get_split_term</code> function <a href="#the-wp_get_split_term-function" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">The <code>wp_get_split_term</code> function</span></a></h3>
<div class="callout callout-info"><p><span class="screen-reader-text">Note:</span> <br>
Using the <code>split_shared_term</code> hook is the preferred method for processing Term ID changes.</p>
<p>However, there may be cases where Terms are split without your plugin having a chance to hook to the <code>split_shared_term</code> action.</p>
</div>
<p>WP 4.2 stores information about Taxonomy Terms that have been split, and provides the <a href="https://developer.wordpress.org/reference/functions/wp_get_split_term/">wp_get_split_term()</a> utility function to help developers retrieve this information.</p>
<p>Consider the case above, where your plugin stores Term IDs in an option named <code>featured_tags</code>.<br>
You may want to build a function that validates these tag IDs (perhaps to be run on plugin update), to be sure that none of the featured tags has been split:</p>
<section class="source-content">
<div class="source-code-container">
<pre class="brush: php; title: ; notranslate" title>function wporg_featured_tags_check_split()
{
    $featured_tag_ids = get_option(&apos;featured_tags&apos;, []);

    // check to see whether any IDs correspond to post_tag terms that have been split.
    foreach ($featured_tag_ids as $index =&gt; $featured_tag_id) {
        $new_term_id = wp_get_split_term($featured_tag_id, &apos;post_tag&apos;);

        if ($new_term_id) {
            $featured_tag_ids[$index] = $new_term_id;
        }
    }

    // save
    update_option(&apos;featured_tags&apos;, $featured_tag_ids);
}
</pre>
</div>
<p class="source-code-links"><span><a href="#" class="show-complete-source">Expand full source code</a><a href="#" class="less-complete-source">Collapse full source code</a></span></p>
</section>
<p>Note that <a href="https://developer.wordpress.org/reference/functions/wp_get_split_term/">wp_get_split_term()</a> takes two parameters, <code>$old_term_id</code> and <code>$taxonomy</code> and returns an integer.</p>
<p>If you need to retrieve a list of all split terms associated with an old Term ID, regardless of taxonomy, use <a href="https://developer.wordpress.org/reference/functions/wp_get_split_terms/">wp_get_split_terms()</a>.</p>


<div class="bottom-of-entry">&#xA0;</div>

			
		<nav class="handbook-navigation" role="navigation">
			<h1 class="screen-reader-text">Handbook navigation</h1>
			<div class="nav-links">

			<a href="https://developer.wordpress.org/plugins/taxonomies/working-with-custom-taxonomies/" rel="previous"><span class="meta-nav">&#x2190;</span> Working with Custom Taxonomies</a><a href="https://developer.wordpress.org/plugins/users/" rel="next">Users <span class="meta-nav">&#x2192;</span></a>
			</div>
			<!-- .nav-links -->
		</nav><!-- .navigation -->
	
		
		</main>