<main id="primary" class="site-main post-10922 plugin-handbook type-plugin-handbook status-publish hentry type-handbook" role="main">

		
		<div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
			<span class="trail-browse">Browse:</span> 
			<span class="trail-begin"><a href="https://developer.wordpress.org" title="WordPress Developer Resources" rel="home">Home</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/">Plugin Handbook</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/plugin-basics/" title="Plugin Basics">Plugin Basics</a></span> <span class="sep">/</span> <span class="trail-end">Best Practices</span>
		</div>
		
			
<h1>Best Practices</h1>


<style> .toc-jump { text-align: right; font-size: 12px; } .page .toc-heading { margin-top: -50px; padding-top: 50px !important; }</style><div class="table-of-contents"><h2>Topics</h2><ul class="items"><li><a href="#avoid-naming-collisions">Avoid Naming Collisions</a>
<ul>
<li><a href="#procedural">Procedural</a>
<ul>
<li><a href="#prefix-everything">Prefix Everything</a></li>
<li><a href="#check-for-existing-implementations">Check for Existing Implementations</a></li>
<li><a href="#example">Example</a>
</li></ul></li>
<li><a href="#oop">OOP</a>
<ul>
<li><a href="#example-2">Example</a>
</li></ul></li>
<li><a href="#file-organization">File Organization</a>
<ul>
<li><a href="#folder-structure">Folder Structure</a>
</li></ul></li>
<li><a href="#plugin-architecture">Plugin Architecture</a>
<ul>
<li><a href="#conditional-loading">Conditional Loading</a></li>
<li><a href="#architecture-patterns">Architecture Patterns</a></li>
<li><a href="#architecture-patterns-explained">Architecture Patterns Explained</a>
</li></ul></li>
<li><a href="#boilerplate-starting-points">Boilerplate Starting Points</a></li></ul>
</li></ul></div>

<p>Here are some best practices to help organize your code so it works well alongside WordPress core and other WordPress plugins.</p>



<h2 class="toc-heading" id="avoid-naming-collisions" tabindex="-1">Avoid Naming Collisions <a href="#avoid-naming-collisions" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Avoid Naming Collisions</span></a></h2>



<p>A naming collision happens when your plugin is using the same name for a variable, function or a class as another plugin.</p>



<p>Luckily, you can avoid naming collisions by using the methods below.</p>



<h3 class="toc-heading" id="procedural" tabindex="-1">Procedural <a href="#procedural" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Procedural</span></a></h3>



<p>By default, all variables, functions and classes are defined in the <strong>global namespace</strong>, which means that it is possible for your plugin to override variables, functions and classes set by another plugin and vice-versa.&#xA0;Variables that are defined <em>inside</em> of functions or classes are not affected by this.</p>



<h4 class="toc-heading" id="prefix-everything" tabindex="-1">Prefix Everything <a href="#prefix-everything" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Prefix Everything</span></a></h4>



<p>All variables, functions and classes should be prefixed with a unique identifier. Prefixes prevent other plugins from overwriting your variables and accidentally calling your functions and classes. It will also prevent you from doing the same.</p>



<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h4 class="toc-heading" id="check-for-existing-implementations" tabindex="-1">Check for Existing Implementations <a href="#check-for-existing-implementations" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Check for Existing Implementations</span></a></h4>



<p>PHP provides a number of functions to verify existence of variables, functions, classes and constants. All of these will return true if the entity exists.</p>



<ul><li><strong>Variables</strong>:&#xA0;<a href="http://php.net/manual/en/function.isset.php">isset()</a>&#xA0;(includes arrays, objects, etc.)</li><li><strong>Functions</strong>:&#xA0;<a href="http://php.net/manual/en/function.function-exists.php">function_exists()</a></li><li><strong>Classes</strong>:&#xA0;<a href="http://php.net/manual/en/function.class-exists.php">class_exists()</a></li><li><strong>Constants</strong>:&#xA0;<a href="http://php.net/manual/en/function.defined.php">defined()</a></li></ul>



<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h4 class="toc-heading" id="example" tabindex="-1">Example <a href="#example" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Example</span></a></h4>


<section class="source-content"><div class="source-code-container"><pre class="brush: php; title: ; notranslate" title>//Create a function called &quot;wporg_init&quot; if it doesn&apos;t already exist
if ( !function_exists( &apos;wporg_init&apos; ) ) {
    function wporg_init() {
        register_setting( &apos;wporg_settings&apos;, &apos;wporg_option_foo&apos; );
    }
}

//Create a function called &quot;wporg_get_foo&quot; if it doesn&apos;t already exist
if ( !function_exists( &apos;wporg_get_foo&apos; ) ) {
    function wporg_get_foo() {
        return get_option( &apos;wporg_option_foo&apos; );
    }
}
</pre></div><p class="source-code-links"><span><a href="#" class="show-complete-source">Expand full source code</a><a href="#" class="less-complete-source">Collapse full source code</a></span></p></section>


<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h3 class="toc-heading" id="oop" tabindex="-1">OOP <a href="#oop" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">OOP</span></a></h3>



<p>An easier way to tackle the naming collision problem is to use a <a href="http://php.net/manual/en/language.oop5.php">class</a> for the code of your plugin.</p>



<p>You will still need to take care of checking whether the name of the class you want is already taken but the rest will be taken care of by PHP.</p>



<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h4 class="toc-heading" id="example-2" tabindex="-1">Example <a href="#example-2" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Example</span></a></h4>


<section class="source-content"><div class="source-code-container"><pre class="brush: php; title: ; notranslate" title>if ( !class_exists( &apos;WPOrg_Plugin&apos; ) ) {
    class WPOrg_Plugin
    {
        public static function init() {
            register_setting( &apos;wporg_settings&apos;, &apos;wporg_option_foo&apos; );
        }

        public static function get_foo() {
            return get_option( &apos;wporg_option_foo&apos; );
        }
    }

    WPOrg_Plugin::init();
    WPOrg_Plugin::get_foo();
}
</pre></div><p class="source-code-links"><span><a href="#" class="show-complete-source">Expand full source code</a><a href="#" class="less-complete-source">Collapse full source code</a></span></p></section>


<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="file-organization" tabindex="-1">File Organization <a href="#file-organization" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">File Organization</span></a></h2>



<p>The root level of your plugin directory should contain your <code>plugin-name.php</code> file and, optionally, your <a href="https://developer.wordpress.org/plugin/the-basics/uninstall-methods/">uninstall.php</a> file. All other files should be organized into sub folders whenever possible.</p>



<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h3 class="toc-heading" id="folder-structure" tabindex="-1">Folder Structure <a href="#folder-structure" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Folder Structure</span></a></h3>



<p>A clear folder structure helps you and others working on your plugin keep similar files together.</p>



<p>Here&#x2019;s a sample folder structure for reference:</p>



<pre class="wp-block-preformatted">/plugin-name
     plugin-name.php
     uninstall.php
     /languages
     /includes
     /admin
          /js
          /css
          /images
     /public
          /js
          /css
          /images
</pre>



<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="plugin-architecture" tabindex="-1">Plugin Architecture <a href="#plugin-architecture" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Plugin Architecture</span></a></h2>



<p>The architecture, or code organization, you choose for your plugin will likely depend on the size of your plugin.</p>



<p>For small, single-purpose plugins that have limited interaction with WordPress core, themes or other plugins, there&#x2019;s little benefit in engineering complex classes; unless you know the plugin is going to expand greatly later on.</p>



<p>For large plugins with lots of code, start off with classes in mind. Separate style and scripts files, and even build-related files. This will help code organization and long-term maintenance of the plugin.</p>



<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h3 class="toc-heading" id="conditional-loading" tabindex="-1">Conditional Loading <a href="#conditional-loading" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Conditional Loading</span></a></h3>



<p>It&#x2019;s helpful to separate your admin code from the public code. Use the conditional <a href="https://codex.wordpress.org/Function_Reference/is_admin">is_admin()</a>.</p>



<p>For example:</p>


<pre class="brush: php; title: ; notranslate" title>if ( is_admin() ) {
    // we are in admin mode
    require_once __DIR__ . &apos;/admin/plugin-name-admin.php&apos;;
}
</pre>


<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h3 class="toc-heading" id="architecture-patterns" tabindex="-1">Architecture Patterns <a href="#architecture-patterns" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Architecture Patterns</span></a></h3>



<p>While there are a number of possible architecture patterns, they can broadly be grouped into three variations:</p>



<ul><li><a href="https://github.com/GaryJones/move-floating-social-bar-in-genesis/blob/master/move-floating-social-bar-in-genesis.php" rel="nofollow">Single plugin file, containing functions</a></li><li><a href="https://github.com/norcross/wp-comment-notes/blob/master/wp-comment-notes.php" rel="nofollow">Single plugin file, containing a class, instantiated object and optionally functions</a></li><li><a href="https://github.com/tommcfarlin/WordPress-Plugin-Boilerplate" rel="nofollow">Main plugin file, then one or more class files</a></li></ul>



<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h3 class="toc-heading" id="architecture-patterns-explained" tabindex="-1">Architecture Patterns Explained <a href="#architecture-patterns-explained" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Architecture Patterns Explained</span></a></h3>



<p>Specific implementations of the more complex of the above code organizations have already been written up as tutorials and slides:</p>



<ul><li><a href="https://jjj.blog/2012/12/slash-architecture-my-approach-to-building-wordpress-plugins/" rel="nofollow">Slash &#x2013; Singletons, Loaders, Actions, Screens, Handlers</a></li><li><a href="http://iandunn.name/wp-mvc" rel="nofollow">Implementing the MVC Pattern in WordPress Plugins</a></li></ul>



<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="boilerplate-starting-points" tabindex="-1">Boilerplate Starting Points <a href="#boilerplate-starting-points" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Boilerplate Starting Points</span></a></h2>



<p>Instead of starting from scratch for each new plugin you write, you may want to start with a <strong>boilerplate</strong>. One&#xA0;advantage of using a boilerplate is to have&#xA0;consistency among your own plugins.&#xA0;Boilerplates also make it easier for other people to contribute to your code if you use a boilerplate they are already familiar with.</p>



<p>These also serve as further examples of different yet comparable architectures.</p>



<ul><li><a rel="nofollow" href="https://github.com/tommcfarlin/WordPress-Plugin-Boilerplate">WordPress Plugin Boilerplate</a>: A foundation for WordPress Plugin Development that aims to provide a clear and consistent guide for building your plugins.</li><li><a rel="nofollow" href="https://github.com/claudiosmweb/wordpress-plugin-boilerplate">WordPress Plugin Bootstrap</a>: Basic bootstrap to develop WordPress plugins using Grunt, Compass, GIT, and SVN.</li><li><a rel="nofollow" href="https://github.com/ptahdunbar/wp-skeleton-plugin">WP Skeleton Plugin</a>: Skeleton plugin that focuses on unit tests and use of composer for development.</li><li><a href="https://developer.wordpress.org/cli/commands/scaffold/plugin/">WP CLI Scaffold</a>: The Scaffold command of WP CLI creates a skeleton plugin with options such as CI configuration files</li></ul>



<p>Of course, you could take different aspects of these and others to create your own custom boilerplate.</p>


<div class="bottom-of-entry">&#xA0;</div>

			
		<nav class="handbook-navigation" role="navigation">
			<h1 class="screen-reader-text">Handbook navigation</h1>
			<div class="nav-links">

			<a href="https://developer.wordpress.org/plugins/plugin-basics/uninstall-methods/" rel="previous"><span class="meta-nav">&#x2190;</span> Uninstall Methods</a><a href="https://developer.wordpress.org/plugins/plugin-basics/determining-plugin-and-content-directories/" rel="next">Determining Plugin and Content Directories <span class="meta-nav">&#x2192;</span></a>
			</div>
			<!-- .nav-links -->
		</nav><!-- .navigation -->
	
		
		</main>