<main id="primary" class="site-main post-11212 plugin-handbook type-plugin-handbook status-publish hentry type-handbook" role="main">

		
		<div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
			<span class="trail-browse">Browse:</span> 
			<span class="trail-begin"><a href="https://developer.wordpress.org" title="WordPress Developer Resources" rel="home">Home</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/">Plugin Handbook</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/security/" title="Plugin Security">Plugin Security</a></span> <span class="sep">/</span> <span class="trail-end">Securing Input</span>
		</div>
		
			
<h1>Securing Input</h1>


<style> .toc-jump { text-align: right; font-size: 12px; } .page .toc-heading { margin-top: -50px; padding-top: 50px !important; }</style><div class="table-of-contents"><h2>Topics</h2><ul class="items"><li><a href="#sanitizing-the-data">Sanitizing the Data</a></li>
<li><a href="#example">Example</a></li></ul>
</div>
<p>Securing input is the process of sanitizing (cleaning, filtering) input data.</p>
<p>You use sanitizing when you don&#x2019;t know what to expect or you don&#x2019;t want to be strict with <a href="https://developer.wordpress.org/plugins/security/data-validation/">data validation</a>.</p>
<p><strong>Any time you&#x2019;re accepting potentially unsafe data, it is important to validate or sanitize it.</strong></p>
<h2 class="toc-heading" id="sanitizing-the-data" tabindex="-1">Sanitizing the Data <a href="#sanitizing-the-data" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Sanitizing the Data</span></a></h2>
<p>The easiest way to sanitize data is with built-in WordPress functions.</p>
<p>The <code>sanitize_*()</code> series of helper functions are super nice, as they ensure you&#x2019;re ending up with safe data, and they require minimal effort on your part:</p>
<ul>
<li><a href="https://developer.wordpress.org/reference/functions/sanitize_email/">sanitize_email()</a></li>
<li><a href="https://developer.wordpress.org/reference/functions/sanitize_file_name/">sanitize_file_name()</a></li>
<li><a href="https://developer.wordpress.org/reference/functions/sanitize_hex_color/">sanitize_hex_color()</a></li>
<li><a href="https://developer.wordpress.org/reference/functions/sanitize_hex_color_no_hash/">sanitize_hex_color_no_hash()</a></li>
<li><a href="https://developer.wordpress.org/reference/functions/sanitize_html_class/">sanitize_html_class()</a></li>
<li><a href="https://developer.wordpress.org/reference/functions/sanitize_key/">sanitize_key()</a></li>
<li><a href="https://developer.wordpress.org/reference/functions/sanitize_meta/">sanitize_meta()</a></li>
<li><a href="https://developer.wordpress.org/reference/functions/sanitize_mime_type/">sanitize_mime_type()</a></li>
<li><a href="https://developer.wordpress.org/reference/functions/sanitize_option/">sanitize_option()</a></li>
<li><a href="https://developer.wordpress.org/reference/functions/sanitize_sql_orderby/">sanitize_sql_orderby()</a></li>
<li><a href="https://developer.wordpress.org/reference/functions/sanitize_text_field/">sanitize_text_field()</a></li>
<li><a href="https://developer.wordpress.org/reference/functions/sanitize_title/">sanitize_title()</a></li>
<li><a href="https://developer.wordpress.org/reference/functions/sanitize_textarea_field/">sanitize_textarea_field()</a></li>
<li><a href="https://developer.wordpress.org/reference/functions/sanitize_title_for_query/">sanitize_title_for_query()</a></li>
<li><a href="https://developer.wordpress.org/reference/functions/sanitize_title_with_dashes/">sanitize_title_with_dashes()</a></li>
<li><a href="https://developer.wordpress.org/reference/functions/sanitize_user/">sanitize_user()</a></li>
<li><a href="https://developer.wordpress.org/reference/functions/esc_url_raw/">esc_url_raw()</a></li>
<li><a href="https://developer.wordpress.org/reference/functions/wp_kses/">wp_kses()</a></li>
<li><a href="https://developer.wordpress.org/reference/functions/wp_kses_post/">wp_kses_post()</a></li>
</ul>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="example" tabindex="-1">Example <a href="#example" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Example</span></a></h2>
<p>Let&#x2019;s say we have an input field named title.</p>
<pre><pre class="brush: xml; title: ; notranslate" title>&amp;amp;lt;input id=&quot;title&quot; type=&quot;text&quot; name=&quot;title&quot;&amp;amp;gt;</pre>
<p>You can sanitize the input data with the sanitize_text_field() function:</p>
<pre><pre class="brush: php; title: ; notranslate" title>$title = sanitize_text_field($_POST[&apos;title&apos;]);
update_post_meta($post-&amp;amp;gt;ID, &apos;title&apos;, $title);
</pre>
<p>Behind the scenes, sanitize_text_field() does the following:</p>
<ul>
<li>Checks for invalid UTF-8</li>
<li>Converts single less-than characters (&lt;) to entity</li>
<li>Strips all tags</li>
<li>Removes line breaks, tabs and extra white space</li>
<li>Strips octets</li>
</ul>


<div class="bottom-of-entry">&#xA0;</div>

			
		<nav class="handbook-navigation" role="navigation">
			<h1 class="screen-reader-text">Handbook navigation</h1>
			<div class="nav-links">

			<a href="https://developer.wordpress.org/plugins/security/data-validation/" rel="previous"><span class="meta-nav">&#x2190;</span> Data Validation</a><a href="https://developer.wordpress.org/plugins/security/securing-output/" rel="next">Securing Output <span class="meta-nav">&#x2192;</span></a>
			</div>
			<!-- .nav-links -->
		</nav><!-- .navigation -->
	
		
		</pre></pre></main>