<main id="primary" class="site-main post-11033 plugin-handbook type-plugin-handbook status-publish hentry type-handbook" role="main">

		
		<div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
			<span class="trail-browse">Browse:</span> 
			<span class="trail-begin"><a href="https://developer.wordpress.org" title="WordPress Developer Resources" rel="home">Home</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/">Plugin Handbook</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/settings/" title="Settings">Settings</a></span> <span class="sep">/</span> <span class="trail-end">Custom Settings Page</span>
		</div>
		
			
<h1>Custom Settings Page</h1>


<p>Creating a custom settings page includes the combination of: <a href="https://developer.wordpress.org/plugins/administration-menus/">creating an administration menu</a>, <a href="https://developer.wordpress.org/plugins/settings/using-settings-api/">using Settings API</a> and <a href="https://developer.wordpress.org/plugins/settings/options-api/">Options API</a>.</p>
<div class="callout callout-alert"><p><span class="screen-reader-text">Alert:</span> <br>
Please read these chapters before attempting to create your own settings page.</p>
</div>
<p>The example below can be used for quick reference on these topics by following the comments.</p>
<h2>Complete Example</h2>
<p>Complete example which adds a Top-Level Menu named <code>WPOrg</code>, registers a custom option named <code>wporg_options</code> and performs the CRUD (create, read, update, delete) logic using Settings API and Options API (including showing error/update messages).</p>
<section class="source-content">
<div class="source-code-container">
<pre class="brush: php; title: ; notranslate" title>&lt;?php
/**
 * @internal never define functions inside callbacks.
 * these functions could be run multiple times; this would result in a fatal error.
 */

/**
 * custom option and settings
 */
function wporg_settings_init() {
 // register a new setting for &quot;wporg&quot; page
 register_setting( &apos;wporg&apos;, &apos;wporg_options&apos; );

 // register a new section in the &quot;wporg&quot; page
 add_settings_section(
 &apos;wporg_section_developers&apos;,
 __( &apos;The Matrix has you.&apos;, &apos;wporg&apos; ),
 &apos;wporg_section_developers_cb&apos;,
 &apos;wporg&apos;
 );

 // register a new field in the &quot;wporg_section_developers&quot; section, inside the &quot;wporg&quot; page
 add_settings_field(
 &apos;wporg_field_pill&apos;, // as of WP 4.6 this value is used only internally
 // use $args&apos; label_for to populate the id inside the callback
 __( &apos;Pill&apos;, &apos;wporg&apos; ),
 &apos;wporg_field_pill_cb&apos;,
 &apos;wporg&apos;,
 &apos;wporg_section_developers&apos;,
 [
 &apos;label_for&apos; =&gt; &apos;wporg_field_pill&apos;,
 &apos;class&apos; =&gt; &apos;wporg_row&apos;,
 &apos;wporg_custom_data&apos; =&gt; &apos;custom&apos;,
 ]
 );
}

/**
 * register our wporg_settings_init to the admin_init action hook
 */
add_action( &apos;admin_init&apos;, &apos;wporg_settings_init&apos; );

/**
 * custom option and settings:
 * callback functions
 */

// developers section cb

// section callbacks can accept an $args parameter, which is an array.
// $args have the following keys defined: title, id, callback.
// the values are defined at the add_settings_section() function.
function wporg_section_developers_cb( $args ) {
 ?&gt;
 &lt;p id=&quot;&lt;?php echo esc_attr( $args[&apos;id&apos;] ); ?&gt;&quot;&gt;&lt;?php esc_html_e( &apos;Follow the white rabbit.&apos;, &apos;wporg&apos; ); ?&gt;&lt;/p&gt;
 &lt;?php
}

// pill field cb

// field callbacks can accept an $args parameter, which is an array.
// $args is defined at the add_settings_field() function.
// wordpress has magic interaction with the following keys: label_for, class.
// the &quot;label_for&quot; key value is used for the &quot;for&quot; attribute of the &lt;label&gt;.
// the &quot;class&quot; key value is used for the &quot;class&quot; attribute of the &lt;tr&gt; containing the field.
// you can add custom key value pairs to be used inside your callbacks.
function wporg_field_pill_cb( $args ) {
 // get the value of the setting we&apos;ve registered with register_setting()
 $options = get_option( &apos;wporg_options&apos; );
 // output the field
 ?&gt;
 &lt;select id=&quot;&lt;?php echo esc_attr( $args[&apos;label_for&apos;] ); ?&gt;&quot;
 data-custom=&quot;&lt;?php echo esc_attr( $args[&apos;wporg_custom_data&apos;] ); ?&gt;&quot;
 name=&quot;wporg_options[&lt;?php echo esc_attr( $args[&apos;label_for&apos;] ); ?&gt;]&quot;
 &gt;
 &lt;option value=&quot;red&quot; &lt;?php echo isset( $options[ $args[&apos;label_for&apos;] ] ) ? ( selected( $options[ $args[&apos;label_for&apos;] ], &apos;red&apos;, false ) ) : ( &apos;&apos; ); ?&gt;&gt;
 &lt;?php esc_html_e( &apos;red pill&apos;, &apos;wporg&apos; ); ?&gt;
 &lt;/option&gt;
 &lt;option value=&quot;blue&quot; &lt;?php echo isset( $options[ $args[&apos;label_for&apos;] ] ) ? ( selected( $options[ $args[&apos;label_for&apos;] ], &apos;blue&apos;, false ) ) : ( &apos;&apos; ); ?&gt;&gt;
 &lt;?php esc_html_e( &apos;blue pill&apos;, &apos;wporg&apos; ); ?&gt;
 &lt;/option&gt;
 &lt;/select&gt;
 &lt;p class=&quot;description&quot;&gt;
 &lt;?php esc_html_e( &apos;You take the blue pill and the story ends. You wake in your bed and you believe whatever you want to believe.&apos;, &apos;wporg&apos; ); ?&gt;
 &lt;/p&gt;
 &lt;p class=&quot;description&quot;&gt;
 &lt;?php esc_html_e( &apos;You take the red pill and you stay in Wonderland and I show you how deep the rabbit-hole goes.&apos;, &apos;wporg&apos; ); ?&gt;
 &lt;/p&gt;
 &lt;?php
}

/**
 * top level menu
 */
function wporg_options_page() {
 // add top level menu page
 add_menu_page(
 &apos;WPOrg&apos;,
 &apos;WPOrg Options&apos;,
 &apos;manage_options&apos;,
 &apos;wporg&apos;,
 &apos;wporg_options_page_html&apos;
 );
}

/**
 * register our wporg_options_page to the admin_menu action hook
 */
add_action( &apos;admin_menu&apos;, &apos;wporg_options_page&apos; );

/**
 * top level menu:
 * callback functions
 */
function wporg_options_page_html() {
 // check user capabilities
 if ( ! current_user_can( &apos;manage_options&apos; ) ) {
 return;
 }

 // add error/update messages

 // check if the user have submitted the settings
 // wordpress will add the &quot;settings-updated&quot; $_GET parameter to the url
 if ( isset( $_GET[&apos;settings-updated&apos;] ) ) {
 // add settings saved message with the class of &quot;updated&quot;
 add_settings_error( &apos;wporg_messages&apos;, &apos;wporg_message&apos;, __( &apos;Settings Saved&apos;, &apos;wporg&apos; ), &apos;updated&apos; );
 }

 // show error/update messages
 settings_errors( &apos;wporg_messages&apos; );
 ?&gt;
 &lt;div class=&quot;wrap&quot;&gt;
 &lt;h1&gt;&lt;?php echo esc_html( get_admin_page_title() ); ?&gt;&lt;/h1&gt;
 &lt;form action=&quot;options.php&quot; method=&quot;post&quot;&gt;
 &lt;?php
 // output security fields for the registered setting &quot;wporg&quot;
 settings_fields( &apos;wporg&apos; );
 // output setting sections and their fields
 // (sections are registered for &quot;wporg&quot;, each field is registered to a specific section)
 do_settings_sections( &apos;wporg&apos; );
 // output save settings button
 submit_button( &apos;Save Settings&apos; );
 ?&gt;
 &lt;/form&gt;
 &lt;/div&gt;
 &lt;?php
}
</pre>
</div>
<p class="source-code-links"><span><a href="#" class="show-complete-source">Expand full source code</a><a href="#" class="less-complete-source">Collapse full source code</a></span></p>
</section>


<div class="bottom-of-entry">&#xA0;</div>

			
		<nav class="handbook-navigation" role="navigation">
			<h1 class="screen-reader-text">Handbook navigation</h1>
			<div class="nav-links">

			<a href="https://developer.wordpress.org/plugins/settings/options-api/" rel="previous"><span class="meta-nav">&#x2190;</span> Options API</a><a href="https://developer.wordpress.org/plugins/metadata/" rel="next">Metadata <span class="meta-nav">&#x2192;</span></a>
			</div>
			<!-- .nav-links -->
		</nav><!-- .navigation -->
	
		
		</main>