<main id="primary" class="site-main post-11151 plugin-handbook type-plugin-handbook status-publish hentry type-handbook" role="main">

		
		<div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
			<span class="trail-browse">Browse:</span> 
			<span class="trail-begin"><a href="https://developer.wordpress.org" title="WordPress Developer Resources" rel="home">Home</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/">Plugin Handbook</a></span> <span class="sep">/</span> <span class="trail-end">JavaScript</span>
		</div>
		
			
<h1>JavaScript</h1>


<p>JavaScript is an important component in many WordPress plugins.&#xA0; WordPress comes with a <a href="https://developer.wordpress.org/theme/basics/including-css-javascript/#default-scripts-included-and-registered-by-wordpress">variety of JavaScript libraries bundled with core</a>. One of the most commonly-used libraries in WordPress is jQuery because it is lightweight and easy to use. jQuery can be used in your plugin to manipulate the DOM object or to perform Ajax actions.</p>


<div class="bottom-of-entry">&#xA0;</div>

			
		<nav class="handbook-navigation" role="navigation">
			<h1 class="screen-reader-text">Handbook navigation</h1>
			<div class="nav-links">

			<a href="https://developer.wordpress.org/plugins/http-api/" rel="previous"><span class="meta-nav">&#x2190;</span> HTTP API</a><a href="https://developer.wordpress.org/plugins/javascript/jquery/" rel="next">jQuery <span class="meta-nav">&#x2192;</span></a>
			</div>
			<!-- .nav-links -->
		</nav><!-- .navigation -->
	
		
		</main>