<main id="primary" class="site-main post-37535 plugin-handbook type-plugin-handbook status-publish hentry type-handbook" role="main">

		
		<div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
			<span class="trail-browse">Browse:</span> 
			<span class="trail-begin"><a href="https://developer.wordpress.org" title="WordPress Developer Resources" rel="home">Home</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/">Plugin Handbook</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/wordpress-org/" title="The WordPress.org Plugin Directory">The WordPress.org Plugin Directory</a></span> <span class="sep">/</span> <span class="trail-end">Alerts and Warnings</span>
		</div>
		
			
<h1>Alerts and Warnings</h1>


<style> .toc-jump { text-align: right; font-size: 12px; } .page .toc-heading { margin-top: -50px; padding-top: 50px !important; }</style><div class="table-of-contents"><h2>Topics</h2><ul class="items"><li><a href="#approved-and-pending-data">Approved and Pending Data</a></li>
<li><a href="#closed">Closed</a>
<ul>
<li><a href="#reasons-why-plugins-are-closed">Reasons why plugins are closed</a>
</li></ul></li>
<li><a href="#out-of-date">Out of Date</a></li></ul>
</div>

<p>When you visit plugin pages on WordPress.org, you may notice special alerts or warnings. These exist to help visitors understand the status of various plugins.</p>



<h2 class="toc-heading" id="approved-and-pending-data" tabindex="-1">Approved and Pending Data <a href="#approved-and-pending-data" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Approved and Pending Data</span></a></h2>



<div class="wp-block-image"><figure class="aligncenter"><a href="https://developer.wordpress.org/files/2018/02/approved.jpg"><img src="https://developer.wordpress.org/files/2018/02/approved.jpg" alt="Blue background - This plugin is approved and awaiting data upload but not visible to the public yet. Once you make your first commit, the plugin will become public." class="wp-image-37536" srcset="https://developer.wordpress.org/files/2018/02/approved.jpg 954w, https://developer.wordpress.org/files/2018/02/approved-300x24.jpg 300w, https://developer.wordpress.org/files/2018/02/approved-768x61.jpg 768w" sizes="(max-width: 954px) 100vw, 954px"></a></figure></div>



<p>Plugins that have been approved but no code has yet been uploaded will see this message:This <em>only</em> displays to the plugin owner and will go away once code has been pushed via SVN.</p>



<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="closed" tabindex="-1">Closed <a href="#closed" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Closed</span></a></h2>



<p>As of November 2017, plugins that are closed display a notice:</p>



<div class="wp-block-image"><figure class="aligncenter"><img src="https://developer.wordpress.org/files/2018/02/closed.png" alt="Red background: This plugin has been closed and is no longer available for download." class="wp-image-37539" srcset="https://developer.wordpress.org/files/2018/02/closed.png 629w, https://developer.wordpress.org/files/2018/02/closed-300x25.png 300w" sizes="(max-width: 629px) 100vw, 629px"></figure></div>



<p>This is viewable by all visitors and indicates a plugin was closed. Plugins closed after January 2018 will include a date:</p>



<div class="wp-block-image"><figure class="aligncenter"><img src="https://developer.wordpress.org/files/2018/02/closed-alt.jpg" alt="Red background: This plugin was closed on February 7, 2018 and is no longer available for download." class="wp-image-37541" srcset="https://developer.wordpress.org/files/2018/02/closed-alt.jpg 624w, https://developer.wordpress.org/files/2018/02/closed-alt-300x27.jpg 300w" sizes="(max-width: 624px) 100vw, 624px"></figure></div>



<p>After 60 days, the alert will be updated to explain <em>why</em> the plugin was closed:</p>



<div class="wp-block-image"><figure class="aligncenter"><img src="https://developer.wordpress.org/files/2018/02/why-closed.png" alt="Alert detailing why a plugin was closed" class="wp-image-37705" srcset="https://developer.wordpress.org/files/2018/02/why-closed.png 626w, https://developer.wordpress.org/files/2018/02/why-closed-300x39.png 300w" sizes="(max-width: 626px) 100vw, 626px"></figure></div>



<p>Plugin committers will see the following additional note:</p>



<div class="wp-block-image"><figure class="aligncenter"><img src="https://developer.wordpress.org/files/2018/02/closed-owner.png" alt="Blue background: If you did not request this change, please contact plugins@wordpress.org for a status. All developers with commit access are contacted when a plugin is closed, with the reasons why, so check your spam email too." class="wp-image-37542" srcset="https://developer.wordpress.org/files/2018/02/closed-owner.png 629w, https://developer.wordpress.org/files/2018/02/closed-owner-300x48.png 300w" sizes="(max-width: 629px) 100vw, 629px"></figure></div>



<h3 class="toc-heading" id="reasons-why-plugins-are-closed" tabindex="-1">Reasons why plugins are closed <a href="#reasons-why-plugins-are-closed" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Reasons why plugins are closed</span></a></h3>



<ul><li>Author Request &#x2013; the author has asked the plugin to be closed</li><li>Guideline Violation &#x2013; a violation of any of the guideline</li><li>Licensing/Trademark Violation &#x2013; non-GPL code in use, or trademarks are being misused</li><li>Merged Into Core &#x2013; the plugin is now a part of core (reserved for feature projects)</li><li>Security Issue &#x2013; a security concern has been found in this plugin</li></ul>



<p>Additional details on why a plugin is closed are not provided to anyone outside the WordPress.org security team or the plugin authors, unless there is an extreme circumstance.</p>



<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="out-of-date" tabindex="-1">Out of Date <a href="#out-of-date" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Out of Date</span></a></h2>



<p>Plugins that do not support the last 3 major releases of WordPress have the following notice:</p>



<div class="wp-block-image"><figure class="aligncenter"><img src="https://developer.wordpress.org/files/2018/02/old.jpg" alt="Yellow background: This plugin hasn&#x2019;t been tested with the latest 3 major releases of WordPress. It may no longer be maintained or supported and may have compatibility issues when used with more recent versions of WordPress." class="wp-image-37543" srcset="https://developer.wordpress.org/files/2018/02/old.jpg 965w, https://developer.wordpress.org/files/2018/02/old-300x26.jpg 300w, https://developer.wordpress.org/files/2018/02/old-768x66.jpg 768w" sizes="(max-width: 965px) 100vw, 965px"></figure></div>



<p>Previously this message alerted users to plugins not updated within the last 2 years. In 2018 it was modified to rely on more pertinent data. Since WordPress updates major releases 2 to 3 times per year, and a maintained a plugin should be testing with the recent versions, this alert can be avoided by updating a plugin readme when new versions of WordPress is released.</p>



<p>Developers are emailed before every major release of WordPress and asked to update this value. They&#xA0;<em>do not</em> need to push a new version, just <a href="https://developer.wordpress.org/plugins/wordpress-org/how-your-readme-txt-works/">update the readme</a> and edit the value of `Tested up to:` to the latest version of WordPress.</p>


<div class="bottom-of-entry">&#xA0;</div>

			
		<nav class="handbook-navigation" role="navigation">
			<h1 class="screen-reader-text">Handbook navigation</h1>
			<div class="nav-links">

			<a href="https://developer.wordpress.org/plugins/wordpress-org/how-to-use-subversion/" rel="previous"><span class="meta-nav">&#x2190;</span> Using Subversion</a><a href="https://developer.wordpress.org/plugins/wordpress-org/plugin-developer-faq/" rel="next">Developer FAQ <span class="meta-nav">&#x2192;</span></a>
			</div>
			<!-- .nav-links -->
		</nav><!-- .navigation -->
	
		
		</main>