<main id="primary" class="site-main post-11164 plugin-handbook type-plugin-handbook status-publish hentry type-handbook" role="main">

		
		<div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
			<span class="trail-browse">Browse:</span> 
			<span class="trail-begin"><a href="https://developer.wordpress.org" title="WordPress Developer Resources" rel="home">Home</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/">Plugin Handbook</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/cron/" title="Cron">Cron</a></span> <span class="sep">/</span> <span class="trail-end">Hooking WP-Cron Into the System Task Scheduler</span>
		</div>
		
			
<h1>Hooking WP-Cron Into the System Task Scheduler</h1>


<style> .toc-jump { text-align: right; font-size: 12px; } .page .toc-heading { margin-top: -50px; padding-top: 50px !important; }</style><div class="table-of-contents"><h2>Topics</h2><ul class="items"><li><a href="#windows">Windows</a></li>
<li><a href="#macos-and-linux">MacOS and Linux</a></li></ul>
</div>

<p>As previously mentioned, WP-Cron does not run continuously, which can be an issue if there are critical tasks that must run on time. There is an easy solution for this. Simply set up your system&#x2019;s task scheduler to run on the intervals you desire (or at the specific time needed). The easiest solution is to use a tool to make a web request to the wp-cron.php file.</p>



<p>After scheduling the task on your system, there is one more step to complete. WordPress will continue to run WP-Cron on each page load. This is no longer necessary and will contribute to extra resource usage on your server. WP-Cron can be disabled in the <code>wp-config.php</code> file. Open the <code>wp-config.php</code> file for editing and add the following line:</p>


<pre class="brush: php; gutter: false; title: ; notranslate" title>define(&apos;DISABLE_WP_CRON&apos;, true);
</pre>


<h2 class="toc-heading" id="windows" tabindex="-1">Windows <a href="#windows" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Windows</span></a></h2>



<p>Windows calls their time based scheduling system the Task Scheduler. It can be accessed via the <strong>Administrative Tools</strong> in the control panel.</p>



<p>How you setup the task varies with server setup. One method is to use PowerShell and a Basic Task. After creating a Basic Task the following command can be used to call the WordPress Cron script.</p>


<pre class="brush: php; auto-links: false; gutter: false; title: ; notranslate" title>powershell &quot;Invoke-WebRequest http://YOUR_SITE_URL/wp-cron.php&quot;
</pre>


<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="macos-and-linux" tabindex="-1">MacOS and Linux <a href="#macos-and-linux" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">MacOS and Linux</span></a></h2>



<p>Mac OS X and Linux both use cron as their time based scheduling system. It is typically access from the terminal with the <code>crontab -e</code> command. It should be noted that tasks will be run as a regular user or as root depending on the system user running the command.</p>



<p>Cron has a specific syntax that needs to be followed and contains the following parts:</p>



<ul><li>Minute</li><li>Hour</li><li>Day of month</li><li>Month</li><li>Day of week</li><li>Command to execute</li></ul>



<figure class="wp-block-image size-large"><img src="https://developer.wordpress.org/files/2014/10/plugin-wp-cron-cron-scheduling.png" alt class="wp-image-11813" srcset="https://developer.wordpress.org/files/2014/10/plugin-wp-cron-cron-scheduling.png 500w, https://developer.wordpress.org/files/2014/10/plugin-wp-cron-cron-scheduling-300x150.png 300w" sizes="(max-width: 500px) 100vw, 500px"></figure>



<p>If a command should be run regardless of one of the time sections an asterisk (*) should be used. For example if you wanted to run a command every 15 minutes regardless of the hour, day, or month it would look like:</p>


<pre class="brush: php; title: ; notranslate" title>*/15 * * * * command
</pre>


<p>Many servers have <code>wget</code> installed and this is an easy tool to call the WordPress Cron script.</p>


<pre class="brush: php; gutter: false; title: ; notranslate" title>wget --delete-after http://YOUR_SITE_URL/wp-cron.php
</pre>

<div class="callout callout-info"><span class="screen-reader-text">Note:</span> Note: without &#x2013;delete-after option, wget would save the output of the HTTP GET request.</div>



<p>A daily call to your site&#x2019;s WordPress Cron that triggers at midnight every night could look similar to:</p>


<pre class="brush: php; auto-links: false; gutter: false; title: ; notranslate" title>0 0 * * * wget --delete-after http://YOUR_SITE_URL/wp-cron.php
</pre>

<div class="bottom-of-entry">&#xA0;</div>

			
		<nav class="handbook-navigation" role="navigation">
			<h1 class="screen-reader-text">Handbook navigation</h1>
			<div class="nav-links">

			<a href="https://developer.wordpress.org/plugins/cron/scheduling-wp-cron-events/" rel="previous"><span class="meta-nav">&#x2190;</span> Scheduling WP Cron Events</a><a href="https://developer.wordpress.org/plugins/cron/simple-testing/" rel="next">Simple Testing of WP-Cron <span class="meta-nav">&#x2192;</span></a>
			</div>
			<!-- .nav-links -->
		</nav><!-- .navigation -->
	
		
		</main>