<main id="primary" class="site-main post-10955 plugin-handbook type-plugin-handbook status-publish hentry type-handbook" role="main">

		
		<div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
			<span class="trail-browse">Browse:</span> 
			<span class="trail-begin"><a href="https://developer.wordpress.org" title="WordPress Developer Resources" rel="home">Home</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/">Plugin Handbook</a></span> <span class="sep">/</span> <span class="trail-end">Administration Menus</span>
		</div>
		
			
<h1>Administration Menus</h1>



<p>Administration Menus are the interfaces displayed in WordPress Administration. They allow you to add option pages for your plugin.</p>


<div class="callout callout-info"><span class="screen-reader-text">Note:</span> <br>
For information on managing Navigation Menus, see the Navigation Menus chapter of the Theme Developer Handbook.<br>
</div>



<h2>Top-Level Menus and Sub-Menus</h2>



<p>The Top-level menus are rendered along the left side of the WordPress Administration. Each menu may contain a set of Sub-menus.</p>



<p>When deciding between <a href="https://developer.wordpress.org/plugins/administration-menus/top-level-menus/">Top-level menus</a> and <a href="https://developer.wordpress.org/plugins/administration-menus/sub-menus/">Sub-menus</a> think carefully about the needs of your plugin as well as the needs of your end users.</p>


<div class="callout callout-alert"><p><span class="screen-reader-text">Alert:</span> <br>
We recommend developers with a single option page to add it as Sub-menu to one of the existing Top-level menus; such as Settings or Tools.</p>
</div>


<div class="bottom-of-entry">&#xA0;</div>

			
		<nav class="handbook-navigation" role="navigation">
			<h1 class="screen-reader-text">Handbook navigation</h1>
			<div class="nav-links">

			<a href="https://developer.wordpress.org/plugins/privacy/privacy-related-options-hooks-and-capabilities/" rel="previous"><span class="meta-nav">&#x2190;</span> Advanced Topics</a><a href="https://developer.wordpress.org/plugins/administration-menus/top-level-menus/" rel="next">Top-Level Menus <span class="meta-nav">&#x2192;</span></a>
			</div>
			<!-- .nav-links -->
		</nav><!-- .navigation -->
	
		
		</main>