<main id="primary" class="site-main post-11207 plugin-handbook type-plugin-handbook status-publish hentry type-handbook" role="main">

		
		<div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
			<span class="trail-browse">Browse:</span> 
			<span class="trail-begin"><a href="https://developer.wordpress.org" title="WordPress Developer Resources" rel="home">Home</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/">Plugin Handbook</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/security/" title="Plugin Security">Plugin Security</a></span> <span class="sep">/</span> <span class="trail-end">Checking User Capabilities</span>
		</div>
		
			
<h1>Checking User Capabilities</h1>


<style> .toc-jump { text-align: right; font-size: 12px; } .page .toc-heading { margin-top: -50px; padding-top: 50px !important; }</style><div class="table-of-contents"><h2>Topics</h2><ul class="items"><li><a href="#user-roles-and-capabilities">User Roles and Capabilities</a>
<ul>
<li><a href="#hierarchy">Hierarchy</a>
</li></ul></li>
<li><a href="#examples">Examples</a>
<ul>
<li><a href="#no-restrictions">No Restrictions</a></li>
<li><a href="#restricted-to-a-specific-capability">Restricted to a Specific Capability</a></li></ul>
</li></ul></div>
<p>If your plugin allows users to submit data&#x2014;be it on the Admin or the Public side&#x2014;it should check for User Capabilities.</p>
<h2 class="toc-heading" id="user-roles-and-capabilities" tabindex="-1">User Roles and Capabilities <a href="#user-roles-and-capabilities" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">User Roles and Capabilities</span></a></h2>
<p>The most important step in creating an efficient security layer is having a user permission system in place. WordPress provides this in the form of <a href="https://developer.wordpress.org/plugins/users/roles-and-capabilities/">User Roles and Capabilities</a>.</p>
<p>Every user logged into WordPress is automatically assigned specific User capabilities depending on their User role.</p>
<p><strong>User roles</strong> is just a fancy way of saying which group the user belongs to. Each group has a specific set of predefined capabilities.</p>
<p>For example, the main user of your website will have the User role of an Administrator while other users might have roles like Editor or Author. You could have more than one user assigned to a role, i.e. there might be two Administrators for a website.</p>
<p><strong>User capabilities</strong> are the specific permissions that you assign to each user or to a User role.</p>
<p>For example, Administrators have the &#x201C;manage_options&#x201D; capability which allows them to view, edit and save options for the website. Editors on the other hand lack this capability which will prevent them from interacting with options.</p>
<p>These capabilities are then checked at various points within the Admin. Depending on the capabilities assigned to a role; menus, functionality, and other aspects of the WordPress experience may be added or removed.</p>
<p><strong>As you build a plugin, make sure to run your code only when the current user has the necessary capabilities.</strong></p>
<h3 class="toc-heading" id="hierarchy" tabindex="-1">Hierarchy <a href="#hierarchy" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Hierarchy</span></a></h3>
<p>The higher the user role, the more capabilities the user has. Each user role inherits the previous roles in the hierarchy.</p>
<p>For example, the &#x201C;Administrator&#x201D;, which is the highest user role on a single site installation, inherits the following roles and their capabilities: &#x201C;Subscriber&#x201D;, &#x201C;Contributor&#x201D;, &#x201C;Author&#x201D; and &#x201C;Editor&#x201D;.</p>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="examples" tabindex="-1">Examples <a href="#examples" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Examples</span></a></h2>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h3 class="toc-heading" id="no-restrictions" tabindex="-1">No Restrictions <a href="#no-restrictions" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">No Restrictions</span></a></h3>
<p>The example below creates a link on the frontend which gives the ability to trash posts.&#xA0;Because this code does not check user capabilities, <strong>it allows any visitor to the site to trash posts!</strong></p>
<section class="source-content">
<div class="source-code-container">
<pre class="brush: php; title: ; notranslate" title>&lt;?php
/**
* generate a Delete link based on the homepage url
*/
function wporg_generate_delete_link($content)
{
// run only for single post page
if (is_single() &amp;&amp; in_the_loop() &amp;&amp; is_main_query()) {
// add query arguments: action, post
$url = add_query_arg(
[
&apos;action&apos; =&gt; &apos;wporg_frontend_delete&apos;,
&apos;post&apos;   =&gt; get_the_ID(),
],
home_url()
);
return $content . &apos; &lt;a href=&quot;&apos; . esc_url($url) . &apos;&quot;&gt;&apos; . esc_html__(&apos;Delete Post&apos;, &apos;wporg&apos;) . &apos;&lt;/a&gt;&apos;;
}
return null;
}

/**
* request handler
*/
function wporg_delete_post()
{
if (isset($_GET[&apos;action&apos;]) &amp;&amp; $_GET[&apos;action&apos;] === &apos;wporg_frontend_delete&apos;) {

// verify we have a post id
$post_id = (isset($_GET[&apos;post&apos;])) ? ($_GET[&apos;post&apos;]) : (null);

// verify there is a post with such a number
$post = get_post((int)$post_id);
if (empty($post)) {
return;
}

// delete the post
wp_trash_post($post_id);

// redirect to admin page
$redirect = admin_url(&apos;edit.php&apos;);
wp_safe_redirect($redirect);

// we are done
die;
}
}

/**
* add the delete link to the end of the post content
*/
add_filter(&apos;the_content&apos;, &apos;wporg_generate_delete_link&apos;);

/**
* register our request handler with the init hook
*/
add_action(&apos;init&apos;, &apos;wporg_delete_post&apos;);
</pre>
</div>
<p class="source-code-links"><span><a href="#" class="show-complete-source">Expand full source code</a><a href="#" class="less-complete-source">Collapse full source code</a></span></p>
</section>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h3 class="toc-heading" id="restricted-to-a-specific-capability" tabindex="-1">Restricted to a Specific Capability <a href="#restricted-to-a-specific-capability" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Restricted to a Specific Capability</span></a></h3>
<p>The example above allows any visitor to the site to click on the &#x201C;Delete&#x201D; link and trash the post. However, we only want Editors and above to be able to click on the &#x201C;Delete&#x201D; link.</p>
<p>To accomplish this, we will check that the current user has the capability <code>edit_others_posts</code>, which only Editors or above would have:</p>
<section class="source-content">
<div class="source-code-container">
<pre class="brush: php; title: ; notranslate" title>&lt;?php
/**
* generate a Delete link based on the homepage url
*/
function wporg_generate_delete_link($content)
{
// run only for single post page
if (is_single() &amp;&amp; in_the_loop() &amp;&amp; is_main_query()) {
// add query arguments: action, post
$url = add_query_arg(
[
&apos;action&apos; =&gt; &apos;wporg_frontend_delete&apos;,
&apos;post&apos;   =&gt; get_the_ID(),
],
home_url()
);
return $content . &apos; &lt;a href=&quot;&apos; . esc_url($url) . &apos;&quot;&gt;&apos; . esc_html__(&apos;Delete Post&apos;, &apos;wporg&apos;) . &apos;&lt;/a&gt;&apos;;
}
return null;
}

/**
* request handler
*/
function wporg_delete_post()
{
if (isset($_GET[&apos;action&apos;]) &amp;&amp; $_GET[&apos;action&apos;] === &apos;wporg_frontend_delete&apos;) {

// verify we have a post id
$post_id = (isset($_GET[&apos;post&apos;])) ? ($_GET[&apos;post&apos;]) : (null);

// verify there is a post with such a number
$post = get_post((int)$post_id);
if (empty($post)) {
return;
}

// delete the post
wp_trash_post($post_id);

// redirect to admin page
$redirect = admin_url(&apos;edit.php&apos;);
wp_safe_redirect($redirect);

// we are done
die;
}
}

if (current_user_can(&apos;edit_others_posts&apos;)) {
/**
* add the delete link to the end of the post content
*/
add_filter(&apos;the_content&apos;, &apos;wporg_generate_delete_link&apos;);

/**
* register our request handler with the init hook
*/
add_action(&apos;init&apos;, &apos;wporg_delete_post&apos;);
}
</pre>
</div>
<p class="source-code-links"><span><a href="#" class="show-complete-source">Expand full source code</a><a href="#" class="less-complete-source">Collapse full source code</a></span></p>
</section>


<div class="bottom-of-entry">&#xA0;</div>

			
		<nav class="handbook-navigation" role="navigation">
			<h1 class="screen-reader-text">Handbook navigation</h1>
			<div class="nav-links">

			<a href="https://developer.wordpress.org/plugins/security/" rel="previous"><span class="meta-nav">&#x2190;</span> Plugin Security</a><a href="https://developer.wordpress.org/plugins/security/data-validation/" rel="next">Data Validation <span class="meta-nav">&#x2192;</span></a>
			</div>
			<!-- .nav-links -->
		</nav><!-- .navigation -->
	
		
		</main>