<main id="primary" class="site-main post-11084 plugin-handbook type-plugin-handbook status-publish hentry type-handbook" role="main">

		
		<div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
			<span class="trail-browse">Browse:</span> 
			<span class="trail-begin"><a href="https://developer.wordpress.org" title="WordPress Developer Resources" rel="home">Home</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/">Plugin Handbook</a></span> <span class="sep">/</span> <span class="trail-end">Users</span>
		</div>
		
			
<h1>Users</h1>


<style> .toc-jump { text-align: right; font-size: 12px; } .page .toc-heading { margin-top: -50px; padding-top: 50px !important; }</style><div class="table-of-contents"><h2>Topics</h2><ul class="items"><li><a href="#what-is-a-user">What is a user?</a></li>
<li><a href="#roles-and-capabilities">Roles and Capabilities</a></li>
<li><a href="#the-principle-of-least-privileges">The Principle of Least Privileges</a></li></ul>
</div>
<p>WordPress stores the Users in the <code>users</code> table.</p>
<h2 class="toc-heading" id="what-is-a-user" tabindex="-1">What is a user? <a href="#what-is-a-user" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">What is a user?</span></a></h2>
<p>Each&#xA0;WordPress user has, at the bare minimum, a username, password and email address.</p>
<p>Once a user account is created, that user&#xA0;may log in using the WordPress Admin (or programmatically) to access WordPress functions and data.</p>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="roles-and-capabilities" tabindex="-1">Roles and Capabilities <a href="#roles-and-capabilities" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Roles and Capabilities</span></a></h2>
<p>Users are assigned&#xA0;<a href="https://developer.wordpress.org/plugins/users/roles-and-capabilities/#roles" target="_blank">roles</a>, and each role has a set of <a href="https://developer.wordpress.org/plugins/users/roles-and-capabilities/#capabilities" target="_blank">capabilities</a>.</p>
<p>You can create new&#xA0;roles with their own set of capabilities.</p>
<p>Custom capabilities can&#xA0;also be created and assigned to existing roles or new roles.</p>
<p>In WordPress, developers can take advantage of user roles to limit the set of actions an account can perform.</p>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="the-principle-of-least-privileges" tabindex="-1">The Principle of Least Privileges <a href="#the-principle-of-least-privileges" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">The Principle of Least Privileges</span></a></h2>
<p>WordPress adheres to the principal of least privileges, the practice of giving a user <em>only</em> the&#xA0;privileges that&#xA0;are essential for performing the desired work.</p>


<div class="bottom-of-entry">&#xA0;</div>

			
		<nav class="handbook-navigation" role="navigation">
			<h1 class="screen-reader-text">Handbook navigation</h1>
			<div class="nav-links">

			<a href="https://developer.wordpress.org/plugins/taxonomies/split-terms-wp-4-2/" rel="previous"><span class="meta-nav">&#x2190;</span> Split Terms (WP 4.2+)</a><a href="https://developer.wordpress.org/plugins/users/working-with-users/" rel="next">Working with Users <span class="meta-nav">&#x2192;</span></a>
			</div>
			<!-- .nav-links -->
		</nav><!-- .navigation -->
	
		
		</main>