<main id="primary" class="site-main post-11070 plugin-handbook type-plugin-handbook status-publish hentry type-handbook" role="main">

		
		<div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
			<span class="trail-browse">Browse:</span> 
			<span class="trail-begin"><a href="https://developer.wordpress.org" title="WordPress Developer Resources" rel="home">Home</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/">Plugin Handbook</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/post-types/" title="Custom Post Types">Custom Post Types</a></span> <span class="sep">/</span> <span class="trail-end">Working with Custom Post Types</span>
		</div>
		
			
<h1>Working with Custom Post Types</h1>


<style> .toc-jump { text-align: right; font-size: 12px; } .page .toc-heading { margin-top: -50px; padding-top: 50px !important; }</style><div class="table-of-contents"><h2>Topics</h2><ul class="items"><li><a href="#custom-post-type-templates">Custom Post Type Templates</a></li>
<li><a href="#querying-by-post-type">Querying by Post Type</a></li>
<li><a href="#altering-the-main-query">Altering the Main Query</a></li></ul>
</div>
<h2 class="toc-heading" id="custom-post-type-templates" tabindex="-1">Custom Post Type Templates <a href="#custom-post-type-templates" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Custom Post Type Templates</span></a></h2>
<p>You can create custom <a href="https://make.wordpress.org/docs/theme-developer-handbook/theme-basics/theme-files/">templates</a> for your custom post types. In the same way posts and their archives can be displayed using single.php and archive.php, you can create the templates:</p>
<ul>
<li>single-{post_type}.php &#x2013; for single posts of a custom post type</li>
<li>archive-{post_type}.php &#x2013; for the archive</li>
</ul>
<p>Where {post_type} is the $post_type argument of the <a href="https://developer.wordpress.org/reference/functions/register_post_type/">register_post_type()</a> function.</p>
<p>Building upon what we&#x2019;ve learned previously, you could create single-wporg_product.php and archive-wporg_product.php template files for single product posts and the archive.</p>
<p>Alternatively, you can use the <a href="https://developer.wordpress.org/reference/functions/is_post_type_archive/">is_post_type_archive()</a> function in any template file to check if the query shows an archive page of a given post type, and the <a href="https://developer.wordpress.org/reference/functions/post_type_archive_title/">post_type_archive_title()</a>&#xA0;function to display the post type title.</p>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="querying-by-post-type" tabindex="-1">Querying by Post Type <a href="#querying-by-post-type" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Querying by Post Type</span></a></h2>
<p>You can query posts of a specific type by passing the <code>post_type</code> key in the arguments array of the <code>WP_Query</code> class constructor.</p>
<p>Example:</p>
<section class="source-content">
<div class="source-code-container">
<pre class="brush: php; title: ; notranslate" title>$args = [
    &apos;post_type&apos;      =&gt; &apos;product&apos;,
    &apos;posts_per_page&apos; =&gt; 10,
];
$loop = new WP_Query($args);
while ($loop-&gt;have_posts()) {
    $loop-&gt;the_post();
    ?&gt;
    &lt;div class=&quot;entry-content&quot;&gt;
        &lt;?php the_title(); ?&gt;
        &lt;?php the_content(); ?&gt;
    &lt;/div&gt;
    &lt;?php
}
</pre>
</div>
<p class="source-code-links"><span><a href="#" class="show-complete-source">Expand full source code</a><a href="#" class="less-complete-source">Collapse full source code</a></span></p>
</section>
<p>This loops through the latest ten product posts and displays the title and content of them one by one.</p>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="altering-the-main-query" tabindex="-1">Altering the Main Query <a href="#altering-the-main-query" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Altering the Main Query</span></a></h2>
<p>Registering a custom post type does not mean it gets added to the main query automatically.</p>
<p>If you want your custom post type posts to show up on standard archives or include them on your home page mixed up with other post types, use the <code><a href="https://developer.wordpress.org/reference/hooks/pre_get_posts/">pre_get_posts</a></code> action hook.</p>
<p>The next example will show posts from <code>post</code>, <code>page</code> and <code>movie</code> post types on the home page:</p>
<pre class="brush: php; title: ; notranslate" title>function wporg_add_custom_post_types($query)
{
    if (is_home() &amp;&amp; $query-&gt;is_main_query()) {
        $query-&gt;set(&apos;post_type&apos;, [&apos;post&apos;, &apos;page&apos;, &apos;movie&apos;]);
    }
    return $query;
}
add_action(&apos;pre_get_posts&apos;, &apos;wporg_add_custom_post_types&apos;);
</pre>


<div class="bottom-of-entry">&#xA0;</div>

			
		<nav class="handbook-navigation" role="navigation">
			<h1 class="screen-reader-text">Handbook navigation</h1>
			<div class="nav-links">

			<a href="https://developer.wordpress.org/plugins/post-types/registering-custom-post-types/" rel="previous"><span class="meta-nav">&#x2190;</span> Registering Custom Post Types</a><a href="https://developer.wordpress.org/plugins/taxonomies/" rel="next">Taxonomies <span class="meta-nav">&#x2192;</span></a>
			</div>
			<!-- .nav-links -->
		</nav><!-- .navigation -->
	
		
		</main>