<main id="primary" class="site-main post-11048 plugin-handbook type-plugin-handbook status-publish hentry type-handbook" role="main">

		
		<div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
			<span class="trail-browse">Browse:</span> 
			<span class="trail-begin"><a href="https://developer.wordpress.org" title="WordPress Developer Resources" rel="home">Home</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/">Plugin Handbook</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/metadata/" title="Metadata">Metadata</a></span> <span class="sep">/</span> <span class="trail-end">Managing Post Metadata</span>
		</div>
		
			
<h1>Managing Post Metadata</h1>


<style> .toc-jump { text-align: right; font-size: 12px; } .page .toc-heading { margin-top: -50px; padding-top: 50px !important; }</style><div class="table-of-contents"><h2>Topics</h2><ul class="items"><li><a href="#adding-metadata">Adding Metadata</a></li>
<li><a href="#updating-metadata">Updating Metadata</a></li>
<li><a href="#deleting-metadata">Deleting Metadata</a></li>
<li><a href="#character-escaping">Character Escaping</a>
<ul>
<li><a href="#workaround">Workaround</a>
</li></ul></li>
<li><a href="#hidden-custom-fields">Hidden Custom Fields</a>
<ul>
<li><a href="#hidden-arrays">Hidden Arrays</a></li></ul>
</li></ul></div>
<h2 class="toc-heading" id="adding-metadata" tabindex="-1">Adding Metadata <a href="#adding-metadata" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Adding Metadata</span></a></h2>
<p>Adding metadata can be done quite easily with <a href="https://developer.wordpress.org/reference/functions/add_post_meta/">add_post_meta()</a>. The function accepts a <code>post_id</code>, a <code>meta_key</code>, a <code>meta_value</code>, and a <code>unique</code> flag.</p>
<p>The <code>meta_key</code> is how your plugin will reference the meta value elsewhere in your code. Something like <code>mycrazymetakeyname</code> would work, however a prefix related to your plugin or theme followed by a description of the key would be more useful. <code>wporg_featured_menu</code> might be a good one. It should be noted that the same <code>meta_key</code> may be used multiple times to store variations of the metadata (see the unique flag below).</p>
<p>The <code>meta_value</code> can be a string, integer, or an array. If it&#x2019;s an array, it will be automatically serialized before being stored in the database.</p>
<p>The <code>unique</code> flag allows you to declare whether this key should be unique. A <strong>non</strong> unique key is something a post can have multiple variations of, like price.<br>
If you only ever want <strong>one</strong> price for a post, you should flag it <code>unique</code> and the <code>meta_key</code> will have one value only.</p>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="updating-metadata" tabindex="-1">Updating Metadata <a href="#updating-metadata" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Updating Metadata</span></a></h2>
<p>If a key already exists and you want to update it, use <a href="https://developer.wordpress.org/reference/functions/update_post_meta/">update_post_meta()</a>. If you use this function and the key does <strong>NOT</strong> exist, then it will create it, as if you&#x2019;d used <a href="https://developer.wordpress.org/reference/functions/add_post_meta/">add_post_meta()</a>.</p>
<p>Similar to <a href="https://developer.wordpress.org/reference/functions/add_post_meta/">add_post_meta()</a>, the function accepts a <code>post_id</code>, a <code>meta_key</code>, a <code>meta_value</code>, and a <code>unique</code> flag.</p>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="deleting-metadata" tabindex="-1">Deleting Metadata <a href="#deleting-metadata" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Deleting Metadata</span></a></h2>
<p><a href="https://developer.wordpress.org/reference/functions/delete_post_meta/">delete_post_meta()</a> takes a <code>post_id</code>, a <code>meta_key</code>, and optionally <code>meta_value</code>. It does exactly what the name suggests.</p>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="character-escaping" tabindex="-1">Character Escaping <a href="#character-escaping" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Character Escaping</span></a></h2>
<p>Post meta values are passed through the <a href="http://php.net/manual/en/function.stripslashes.php">stripslashes()</a> function upon being stored, so you will need to be careful when passing in values (such as JSON) that might include \ escaped characters.</p>
<p>Consider the JSON value <code>{&quot;key&quot;:&quot;value with \&quot;escaped quotes\&quot;&quot;}</code>:</p>
<pre class="brush: php; title: ; notranslate" title>$escaped_json = &apos;{&quot;key&quot;:&quot;value with \&quot;escaped quotes\&quot;&quot;}&apos;;
update_post_meta($id, &apos;escaped_json&apos;, $escaped_json);
$broken = get_post_meta($id, &apos;escaped_json&apos;, true);
/*
$broken, after stripslashes(), ends up unparsable:
{&quot;key&quot;:&quot;value with &quot;escaped quotes&quot;&quot;}
*/
</pre>
<h3 class="toc-heading" id="workaround" tabindex="-1">Workaround <a href="#workaround" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Workaround</span></a></h3>
<p>By adding one more level of \ escaping using the function <a href="https://developer.wordpress.org/reference/functions/wp_slash/">wp_slash()</a> (introduced in WP 3.6), you can compensate for the call to <a href="http://php.net/manual/en/function.stripslashes.php">stripslashes()</a>:</p>
<pre class="brush: php; title: ; notranslate" title>$escaped_json = &apos;{&quot;key&quot;:&quot;value with \&quot;escaped quotes\&quot;&quot;}&apos;;
update_post_meta($id, &apos;double_escaped_json&apos;, wp_slash($escaped_json));
$fixed = get_post_meta($id, &apos;double_escaped_json&apos;, true);
/*
$fixed, after stripslashes(), ends up as desired:
{&quot;key&quot;:&quot;value with \&quot;escaped quotes\&quot;&quot;}
*/
</pre>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="hidden-custom-fields" tabindex="-1">Hidden Custom Fields <a href="#hidden-custom-fields" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Hidden Custom Fields</span></a></h2>
<p>If you are a plugin or theme developer and you are planning to use custom fields to store parameters, it is important to note that WordPress will not show custom fields which have <code>meta_key</code> starting with an &#x201C;_&#x201D; (underscore) in the custom fields list on the post edit screen or when using the <a href="https://developer.wordpress.org/reference/functions/the_meta/">the_meta()</a> template function.</p>
<p>This can be useful in order to show these custom fields in an unusual way by using the <a href="https://developer.wordpress.org/reference/functions/add_meta_box/">add_meta_box()</a> function.</p>
<p>The example below will add a unique custom field with the <code>meta_key</code> name &#x2018;_color&#x2019; and the <code>meta_value</code> of &#x2018;red&#x2019; but this custom field will not display in the post edit screen:</p>
<pre class="brush: php; title: ; notranslate" title>add_post_meta(68, &apos;_color&apos;, &apos;red&apos;, true);
</pre>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h3 class="toc-heading" id="hidden-arrays" tabindex="-1">Hidden Arrays <a href="#hidden-arrays" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Hidden Arrays</span></a></h3>
<p>In addition, if the <code>meta_value</code> is an array, it will not be displayed on the page edit screen, even if you don&#x2019;t prefix the <code>meta_key</code> name with an underscore.</p>


<div class="bottom-of-entry">&#xA0;</div>

			
		<nav class="handbook-navigation" role="navigation">
			<h1 class="screen-reader-text">Handbook navigation</h1>
			<div class="nav-links">

			<a href="https://developer.wordpress.org/plugins/metadata/" rel="previous"><span class="meta-nav">&#x2190;</span> Metadata</a><a href="https://developer.wordpress.org/plugins/metadata/custom-meta-boxes/" rel="next">Custom Meta Boxes <span class="meta-nav">&#x2192;</span></a>
			</div>
			<!-- .nav-links -->
		</nav><!-- .navigation -->
	
		
		</main>