<main id="primary" class="site-main post-11214 plugin-handbook type-plugin-handbook status-publish hentry type-handbook" role="main">

		
		<div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
			<span class="trail-browse">Browse:</span> 
			<span class="trail-begin"><a href="https://developer.wordpress.org" title="WordPress Developer Resources" rel="home">Home</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/">Plugin Handbook</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/security/" title="Plugin Security">Plugin Security</a></span> <span class="sep">/</span> <span class="trail-end">Nonces</span>
		</div>
		
			
<h1>Nonces</h1>


<style> .toc-jump { text-align: right; font-size: 12px; } .page .toc-heading { margin-top: -50px; padding-top: 50px !important; }</style><div class="table-of-contents"><h2>Topics</h2><ul class="items"><li><a href="#using-nonces">Using Nonces</a></li>
<li><a href="#complete-example">Complete Example</a></li></ul>
</div>
<p>Nonces are generated&#xA0;numbers used to verify origin and intent of requests for security purposes. Each nonce can only be used once.</p>
<p>If your plugin allows users to submit data; be it on the Admin or the Public side; you have to make sure that the user is who they say they are and that they <a href="https://developer.wordpress.org/plugins/security/checking-user-capabilities/">have the necessary capability</a> to perform the action. Doing both in tandem means that data is only changing when the user <em>expects</em> it to be changing.</p>
<h2 class="toc-heading" id="using-nonces" tabindex="-1">Using Nonces <a href="#using-nonces" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Using Nonces</span></a></h2>
<p>Following our <a href="https://developer.wordpress.org/plugins/security/checking-user-capabilities/#restricted-to-a-specific-capability">checking user capabilities example</a>, the next step in user data submission security is using nonces.</p>
<p>The&#xA0;capability check&#xA0;ensures that only users who have permission to delete a post are able to delete a post. But what if someone were to trick you into clicking that link? You have the necessary capability, so you could unwittingly delete a post.</p>
<p>Nonces can be used to check that the current user actually&#xA0;intends to perform the action.</p>
<p>When you generate the delete link, you&#x2019;ll want to use <a href="https://developer.wordpress.org/reference/functions/wp_create_nonce/">wp_create_nonce()</a> function to add a nonce to the link, the argument passed to the function ensures that the nonce being created is unique to that particular action.</p>
<p>Then, when you&#x2019;re processing a request to delete a link, you can check that the nonce is what you expect it to be.</p>
<p>For more information, Mark Jaquith&#x2019;s <a href="http://markjaquith.wordpress.com/2006/06/02/wordpress-203-nonces/">post on WordPress nonces</a> is a great resource.</p>
<p class="toc-jump"><a href="#top">Top &#x2191;</a></p><h2 class="toc-heading" id="complete-example" tabindex="-1">Complete Example <a href="#complete-example" class="anchor"><span aria-hidden="true">#</span><span class="screen-reader-text">Complete Example</span></a></h2>
<p>Complete example using capability checks, data validation, secure input, secure output and nonces:</p>
<section class="source-content">
<div class="source-code-container">
<pre class="brush: php; title: ; notranslate" title>&lt;?php
/**
 * generate a Delete link based on the homepage url
 */
function wporg_generate_delete_link($content)
{
    // run only for single post page
    if (is_single() &amp;&amp; in_the_loop() &amp;&amp; is_main_query()) {
        // add query arguments: action, post, nonce
        $url = add_query_arg(
            [
                &apos;action&apos; =&gt; &apos;wporg_frontend_delete&apos;,
                &apos;post&apos;   =&gt; get_the_ID(),
                &apos;nonce&apos;  =&gt; wp_create_nonce(&apos;wporg_frontend_delete&apos;),
            ],
            home_url()
        );
        return $content . &apos; &lt;a href=&quot;&apos; . esc_url($url) . &apos;&quot;&gt;&apos; . esc_html__(&apos;Delete Post&apos;, &apos;wporg&apos;) . &apos;&lt;/a&gt;&apos;;
    }
    return null;
}

/**
 * request handler
 */
function wporg_delete_post()
{
    if (
        isset($_GET[&apos;action&apos;]) &amp;&amp;
        isset($_GET[&apos;nonce&apos;]) &amp;&amp;
        $_GET[&apos;action&apos;] === &apos;wporg_frontend_delete&apos; &amp;&amp;
        wp_verify_nonce($_GET[&apos;nonce&apos;], &apos;wporg_frontend_delete&apos;)
    ) {

        // verify we have a post id
        $post_id = (isset($_GET[&apos;post&apos;])) ? ($_GET[&apos;post&apos;]) : (null);

        // verify there is a post with such a number
        $post = get_post((int)$post_id);
        if (empty($post)) {
            return;
        }

        // delete the post
        wp_trash_post($post_id);

        // redirect to admin page
        $redirect = admin_url(&apos;edit.php&apos;);
        wp_safe_redirect($redirect);

        // we are done
        die;
    }
}

if (current_user_can(&apos;edit_others_posts&apos;)) {
    /**
     * add the delete link to the end of the post content
     */
    add_filter(&apos;the_content&apos;, &apos;wporg_generate_delete_link&apos;);

    /**
     * register our request handler with the init hook
     */
    add_action(&apos;init&apos;, &apos;wporg_delete_post&apos;);
}
</pre>
</div>
<p class="source-code-links"><span><a href="#" class="show-complete-source">Expand full source code</a><a href="#" class="less-complete-source">Collapse full source code</a></span></p>
</section>


<div class="bottom-of-entry">&#xA0;</div>

			
		<nav class="handbook-navigation" role="navigation">
			<h1 class="screen-reader-text">Handbook navigation</h1>
			<div class="nav-links">

			<a href="https://developer.wordpress.org/plugins/security/securing-output/" rel="previous"><span class="meta-nav">&#x2190;</span> Securing Output</a><a href="https://developer.wordpress.org/plugins/hooks/" rel="next">Hooks <span class="meta-nav">&#x2192;</span></a>
			</div>
			<!-- .nav-links -->
		</nav><!-- .navigation -->
	
		
		</main>