<main id="primary" class="site-main post-11046 plugin-handbook type-plugin-handbook status-publish hentry type-handbook" role="main">

		
		<div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
			<span class="trail-browse">Browse:</span> 
			<span class="trail-begin"><a href="https://developer.wordpress.org" title="WordPress Developer Resources" rel="home">Home</a></span> <span class="sep">/</span> 
			<span class="trail-inner"><a href="https://developer.wordpress.org/plugins/">Plugin Handbook</a></span> <span class="sep">/</span> <span class="trail-end">Metadata</span>
		</div>
		
			
<h1>Metadata</h1>


<p>Metadata, by its very definition, is information about information.&#xA0;In the case of WordPress, it&#x2019;s information associated with posts, users, comments and terms.</p>
<p>An example would be a Content Type called Products with a metadata field for price.&#xA0;This field would be stored in the <code>postmeta</code> table.</p>
<p>Given the many-to-one relationship of metadata in WordPress, your options are fairly limitless. You can have as many meta options as you wish, and you can store just about anything in there.</p>
<p>This chapter will discuss <a href="https://developer.wordpress.org/plugins/metadata/managing-post-metadata/">managing post metadata</a>, <a href="https://developer.wordpress.org/plugins/metadata/custom-meta-boxes/">creating custom meta boxes</a>, and <a href="https://developer.wordpress.org/plugins/metadata/rendering-post-metadata/">rendering post metadata</a>.</p>


<div class="bottom-of-entry">&#xA0;</div>

			
		<nav class="handbook-navigation" role="navigation">
			<h1 class="screen-reader-text">Handbook navigation</h1>
			<div class="nav-links">

			<a href="https://developer.wordpress.org/plugins/settings/custom-settings-page/" rel="previous"><span class="meta-nav">&#x2190;</span> Custom Settings Page</a><a href="https://developer.wordpress.org/plugins/metadata/managing-post-metadata/" rel="next">Managing Post Metadata <span class="meta-nav">&#x2192;</span></a>
			</div>
			<!-- .nav-links -->
		</nav><!-- .navigation -->
	
		
		</main>